.menu {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 256px;
}

.sliders {
  margin: 16px 0px;
}

.buttonList {
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 8px 12px;
  font-size: 1rem;
  transition: all 0.1s;
  outline: none;
  border: none;
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0px 0px 8px aqua;
  background-color: paleturquoise;
  cursor: pointer;
}
